@use '../abstracts' as *;

.btn-primary {
  --onhover-bg: hsl(186, 62%, 71%);

  padding: 1rem;
  display: block;
  border: none;
  border-radius: 1.5rem;
  background: linear-gradient(to right, var(--clr-accent-lightcyan), var(--clr-accent-cyan));
  color: white;
  text-decoration: none;
  font-size: var(--fs-paragraph);
  cursor: pointer;

  &:is(:hover, :focus) {
    background: var(--onhover-bg);
  }
}