@use '../abstracts' as *;

.header-container {
  @include site-padding;
  padding-block: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: block;
  width: 20vw;
  max-width: 150px;
}

.header-nav__list {
  height: 100%;
  display: flex;
  column-gap: 3vw;
  align-items: center;
}

.header-nav__list__item__link {
  text-decoration: none;

  &:is(:hover, :focus) {
    color: var(--clr-neutral-white);
    text-decoration: underline;
  }
}