@use '../abstracts' as *;

.section-container--services {
  --grid-gap: 5rem;
  --article-max-width: 400px;

  display: grid;
  justify-content: center;
  gap: var(--grid-gap);
  justify-items: center;
  

  @include breakpoint('min', 'large') {
    grid-template-columns: repeat(2, var(--article-max-width));
  }
}

.service-article {
  max-width: var(--article-max-width);
  display: grid;
  grid-template-rows: 7rem 2.5rem auto;
  justify-items: center;
  text-align: center;

  &__img {
    max-width: 90px;
    aspect-ratio: 1 / 1;
    object-fit: contain;
  }
}